body {
  background: url(images/background.png) top center;
}
#page {
  margin: 0 auto;
  max-width: 700px;
}
#resume {
  font-family: 'Homenaje', sans-serif;
  font-family: 'Alegreya SC', serif;
  font-family: 'Life Savers', cursive;
  font-family: 'Junge', serif;
  position: relative;
  padding: 80px 0 0 374px;
}
#resume a {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
#resume a:hover {
  color: #FFF;
  text-decoration: none;
}
#resume header {
  padding-top: 80px;
}
#resume header h1,
#resume header h2,
#resume header address {
  font-weight: normal;
  text-shadow: 1px 1px 0px #000, 1px 1px 6px #000;
}
#resume header h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 3.7em;
  color: #FFF;
}
#resume header h2 {
  color: #AAA;
}
#resume figure {
  background: #222;
  border: 2px solid #000;
  margin: 0;
  padding: 12px;
  position: absolute;
  width: 300px;
  top: 80px;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 20px #000;
  box-shadow: inset 0px 0px 20px #000;
}
#resume footer {
  padding-top: 120px;
}
#resume footer #contact {
  list-style-type: none;
  margin: 0;
}
#resume footer #contact li {
  float: left;
  margin-right: 15px;
}
#resume footer #contact li a img {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}
#resume footer #contact li a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
